.footer {
  width: 100%;
  background-color: #d79ada; /* pode mudar a cor do fundo */
  padding: 5px 0;
  text-align: center;
  color: #000;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; /* permite quebrar linha em telas menores */
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.social-icons img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.map-container iframe {
  width: 280px;
  height: 170px;
  border: 0;
  border-radius: 8px;
  justify-content: flex-end;
  
}

.footer-copy {
  font-size: 0.9rem;
  color: #333;
  margin-top: 10px;
}
