header {
    background-color: #691c9cbe;
    color: #110303c4;
    height: 100px;
}

.logo img {
    height: 100px;
    width: 50%;
}

.icon {
    color: var(--white);
}

.formPesquisa {
    background-color: var(--white);
    border-radius: 10px;
}

.formPesquisa {
    border: solid 2px;
}

.formPesquisa select,
.formPesquisa input,
.formPesquisa button {
    height: 40px;
    border: none;
    outline: none;
}

.formPesquisa select {
    background-color: #dadadabe;
    padding-left: 10px;
    width: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.formPesquisa input {
    width: 48%;
}

.formPesquisa button {
    padding: 0 10px;
    width: 15%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:760px) {
    .formPesquisa select {
        display: none;
    }

    .formPesquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;
    }
}

.descricao {
    margin-bottom: 20px; /* ajusta o valor do espaço */
  }

  .saiba-mais {
    margin-top: 40px; /* ajusta o valor do espaço */
  }